.table-contracts .ant-table {
  background: #1c2755;
  font-size: auto;
}

.table-contracts .ant-table td {
  background: #1c2755;
  color: white;
}

.table-contracts .ant-table th {
  background: #1a2b4d;
  color: white;
}

.ant-btn-primary {
  background: #1e4792;
}

.ant-btn-primary:hover {
  background-color: #1e4792;
}


