* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  ;
}

/* Upper buttons */

.large-buttons {
  width: 18%;
  padding: 22px;
  font-size: 1.1rem;
}

@media (max-width: 980px) {
  .large-buttons {
    padding: 22px;
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  .large-buttons {
    width: 48%;
    padding: 10px;
    font-size: 0.8rem;
  }
}

/* Action buttons */

.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: space-evenly;
}

.button-gridT {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-content: space-evenly;
}

.action-buttons {
  width: auto;
  font-size: 1rem;
  padding: 10px;
}

@media (max-width: 980px) {
  .button-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .action-buttons {
    font-size: 0.9rem;
  }

  .searcher {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 560px) {
  .action-buttons {
    font-size: 0.8rem;
  }

  .button-grid {
    grid-template-columns: 1fr;
  }
}

/* Table and reactive buttons */
.provider-false .ant-table-cell {
  background-color: #1A4B4D !important;
  color: white;
}

.table-contracts .ant-table {
  background: #03081b;
  font-size: 0.8rem;
  scrollbar-color: rgba(255, 255, 255, 255) rgba(255, 255, 255, 0.06);
  box-shadow: #001844;
}

:where(.css-dev-only-do-not-override-5pbk6d).ant-table-wrapper .ant-table-tbody .ant-table-row>.ant-table-cell-row-hover {
  background: #3b62af;

}

.table-contracts tr:hover td {
  background: #1a2b4d;
  color: black;
}

.table-contracts .ant-table td {
  background: #1c2755;
  color: white;
  height: 66px;
}

.table-contracts .ant-table th {
  background: #1a2b4d;
  color: white;
}

.table-contracts .ant-btn {
  font-size: 0.8rem;
  padding: 5px 10px;
}

/* Selected row of the table */
.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background: #00c58a !important;
  color: black;
}

@media (max-width: 980px) {
  .table-contracts .ant-table {
    font-size: 0.7rem;
  }

  .ant-btn {
    font-size: 0.7rem;
  }
}

@media (max-width: 560px) {
  .table-contracts .ant-table {
    font-size: 0.7rem;
  }
}

.ant-btn-primary {
  background: #1e4792;
  border: #1a2b4d solid 1.5px;
}

.ant-btn-primary:hover {
  background-color: #1e4792;
}

.action-buttons {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
}

@media (max-width: 980px) {
  .reactive-buttons {
    font-size: 0.9rem;
  }
}

@media (max-width: 560px) {
  .reactive-buttons {
    font-size: 0.8rem;
  }

}